<div class="span12">
	<h1>Editing recipe</h1>

	<div class="span6">
		<%= render 'form' %>

		<div class="form-actions">
			<%= link_to 'Show', @recipe, class: "btn" %>
			<%= link_to 'Back', recipes_path, class: "btn" %>
		</div>
	</div>
</div>