<div class="text-center" id="image">
	<%= image_tag("index_2.png") %>
</div>
<footer class="footer">
<div class="container">
	<ul class="thumbnails">
		<li class="span4">
			<div class="thumbnail">
			    <p>
			      <h3 class="text-error text-center">Ingredients</h3>
			    </p>
			      <%= image_tag("ingredients.png") %>
			  	
			     <h3>1. Definitions</h3>
			      <p>
			      	<i>Definitions</i> is an <b>easy to digest snack</b> to get better to Ruby, Rails and Programming - in few lines. Whether you are a newbie or just want to remember something cool.
			      </p>
			      <p>
			      	<a href="/definitions" class="btn btn-danger btn-block">Find All</a>
			      </p>
			</div>
		</li>
			  
		<li class="span4">
			<div class="thumbnail">
			    <p>
			      <h3 class="text-error text-center">Cookbook</h3>
			    </p>
			      <%= image_tag("cookbook.png") %>
			  	
			      <h3>2. Explained</h3>
			      <p>
			      	<i>Rails Explained</i> is like a <b>meaty sandwich</b> with barbecue sauce <b>when you are hungry</b> for a more in deep - a bit ludic - explanation about the definitions section.
			      </p>
			      <p>
			      	<a href="#" class="btn btn-danger btn-block">Try The Recipes</a>
			      </p>
			</div>
		</li>

		<li class="span4">
			<div class="thumbnail">
			    <p>
			      <h3 class="text-error text-center">Le Chef</h3>
			    </p>
			      <%= image_tag("chef.png") %>
			  	
			      <h3>3. By who loves it</h3>
			      <p>
			      	<i>When</i> <b>I was a newbie to Rails</b> I was a newbie to programming also, then <b>I had to cook</b> a lot of <b>information</b> to get it right. Then I realized that Rails...
			      </p>
			      <p>
			      	<a href="#" class="btn btn-danger btn-block">Continue Reading...</a>
			      </p>
			</div>
		</li>
	</ul>
</div>
</footer>