<div id="definition">
  <div class="media">
    <% @defines.each do |define| %>
    <a class="pull-left" href="#">
      <%= image_tag define.image_url.to_s %>
    <!-- not implemented yet
      <img class="media-object" data-src="holder.js/64x64">
    -->
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= define.term %></h4>
        <%= sanitize(define.definition) %>
      <p>
        <%= link_to 'Show', "define/#{define.id}", class: "btn btn-success" %>      
      </p>
    </div>
    <% end %>
  </div>
</div>