<div class="span12">
<h1>Editing definition</h1>

	<div class="span6">
		<%= render 'form' %>

		<div class="form-actions">
			<%= link_to 'Show', @define, class: "btn" %>
			<%= link_to 'Back', defines_path, class: "btn" %>
		</div>
	</div>
</div>